<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Public/CSS/Sstyle.css">
    <link rel="stylesheet" href="../Public/CSS/base.css">
    <script type="text/javascript" src="../Public/Script/script.js" defer></script>
</head>

<body>

    <header class="navbar">
        <div class="logo">
          <a href="./index.html">QR<span>Gen</span></a>
        </div>
        <nav>
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./converter.html" >Converter</a></li>
            <li><a href="./login2.0.html" class="active">Login</a></li>
            <li><a href="./signup2.0.html">Sign Up</a></li>
          </ul>
        </nav>
      </header>

    

    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Login</span>
            </div>
            <p id="error-message" style="color: red;"></p>
            <form method="get" onsubmit="return loginValidation()">
                <div id="uname_box" class="input_box">
                    <input type="text" id="user" class="input-field" required>
                    <label for="user" class="label"> Email </label>
                    <i class="bx bx-user icon"></i>
                </div>
                <div id="psswd_box" class="input_box">
                    <input type="password" id="pass" class="input-field" required>
                    <label for="pass" class="label">Password</label>
                    <i class="bx bx-lock-alt icon" id="pass-icon" onclick="togglePassword()"></i>
                </div>
                <div class="input_box">
                    <input type="submit" class="input-submit" value="Signin">
                </div>
            </form>

            <div class="register">
                <span>Don't have an account? <a href="/Views/signup2.0.html">Register</a></span>
            </div>
        </div>
    </div>
</body>

</html>