<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

  <!-- Your existing signup CSS file -->
  <link rel="stylesheet" href="../Public/CSS/Sstyle.css">
  <link rel="stylesheet" href="../Public/CSS/base.css">

  
</head>
<body>

    <header class="navbar">
        <div class="logo">
          <a href="./index.html">QR<span>Gen</span></a>
        </div>
        <nav>
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./converter.html" >Converter</a></li>
            <li><a href="./login2.0.html">Login</a></li>
            <li><a href="./signup2.0.html" class="active">Sign Up</a></li>
          </ul>
        </nav>
      </header>

  
  <div class="wrapper">
    <div class="login_box">
      <div class="login-header">
        <span>Signup</span>
      </div>

      <!-- Wrap inputs in a form -->
      <!-- This method should be POST in production; changed to GET for local dev. -->
      <form method="get" id="form" onsubmit="return validateSignupForm()">
        <div id="uname_box" class="input_box">
          <input type="text" id="user" class="input-field" required>
          <label for="user" class="label">Email</label>
          <i class="bx bx-user icon"></i>
        </div>
        <div class="input_box">
          <input type="password" name="pass" id="password" class="input-field" required>
          <label for="password" class="label">Password</label>
          <i class="bx bx-lock-alt icon" id="pass-icon" onclick="togglePassword()"></i>
        </div>
        <div id="cnfmpsswd_box" class="input_box">
          <input type="password" name="confirm_password" id="confirm_password" class="input-field" required>
          <label for="confirm_password" class="label">Confirm Password</label>
          <i class="bx bx-lock-alt icon" id="pass-icon" onclick="togglePassword()"></i>
        </div>
        <div id="errmsg_container">
          <p id="err_msg" style="color: red;"></p>
        </div>
        <div class="input_box">
          <input type="submit" class="input-submit" value="Signup">
        </div>
      </form>

      <div class="register">
        <span>Already have an Account? <a href="/Views/login2.0.html">Login</a></span>
      </div>
    </div>
  </div>

  <!-- Validation Script -->
  <script type="text/javascript" src="/Public/Script/validation.js" defer></script>
</body>
</html>
