<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/Public/CSS/Sstyle.css">

    </head>

    <body>
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Signup</span>
            </div>

            <!-- Wrap inputs in a form -->

            <!--This method needs to be a post method. However, Live server doesn't allow for post requests.-->
            <!--Change get request to POST in PROD-->
            <form method="get" id="form" onsubmit="return validateSignupForm()">
                <div id="uname_box" class="input_box">
                    <input type="text" id="user" class="input-field" required>
                    <label for="user" class="label">Email</label>
                    <i class="bx bx-user icon"></i>
                </div>
                <div class="input_box">
                    <input type="password" name="pass" id="password" class="input-field" required >
                    <label for="password" class="label">Password</label>
                    <i class="bx bx-lock-alt icon" id="pass-icon" onclick="togglePassword()"></i>
                </div>
                <div id="cnfmpsswd_box" class="input_box">
                    <input  type="password" name="confirm_password" id="confirm_password" class="input-field" required>
                    <label for="confirm_password" class="label">Confirm Password</label>
                    <i class="bx bx-lock-alt icon" id="pass-icon" onclick="togglePassword()"></i>
                </div>
                <div id="errmsg_container">
                    <p id="err_msg" style="color: red;"></p>
                </div>
                <div class="input_box">
                    <input type="submit" class="input-submit" value="Signin">
                </div>
            </form>

            <div class="register">
                <span>Already have an Account? <a href="/Views/index.html">Login</a></span>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/Public/Script/validation.js" defer></script>

</body>


</html>