@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Major+Mono+Display&display=swap');
.navbar {
    position: fixed;   
    top: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.4);
  }
  
  .navbar .logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar .logo span {
    color: #46b2e0; 
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s;
  }
  
  .navbar ul li a:hover,
  .navbar ul li a.active {
    color: #46b2e0;
  }
  